.background{
    background-color: #f1e8dd;
    height: 300px;
    width: 250px;
    position: relative;
}

.painting{
    position: absolute;
    left: 10px;
    top: 10px;
    img{
        height: 280px;
        opacity: 90%;
    }
}

.text1{
    position: absolute;
    z-index: 1;
    left: 20px;
    top: -8px;
}

.text2{
    position: absolute;
    z-index: 1;
    left: 34px;
    top: 16px; 
}

h1{
    color: #f1e8dd;
    font-family: baskerville-urw, serif;
    font-weight: 500;
    font-size: 28px;
    text-shadow: 1px 1px 2px #828282;
}

.boots{
    position: absolute;
    z-index: 1;
    top: 75px;
    left: 40px;
    animation: scale 1.2s ease-in-out;
    animation-name: my-animation;
    animation-iteration-count: infinite;
    img{
        width: 160px;
    }
}

.logo{
    position: absolute;
    z-index: 1;
    width: 50px;
    top: 270px;
    left: 185px;
}

a{
    position: absolute;
    background-color: #008752;
    color:#f1e8dd;
    font-family: tt-globs, serif;
    font-weight: 400;
    font-size: 11px;
    height: 22px;
    width: 160px;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    top: 240px;
    left: 45px;
    transition: 0.1s ease-in-out;
    text-decoration: none;
}

a:hover{
    transform: scale(1.05);
    background-color: #075f3c;
    box-shadow: 2px 2px 4px #3a3937;  
}

@keyframes my-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
    
}
